html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif !important;
  color: #3e3a39;
}
