@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  @apply bg-slate-900 text-slate-300 font-sans antialiased;
}
